/* -------------------------------------------------- */
/* 汎用
/* -------------------------------------------------- */

:root
{
  --main-font-color: rgb(64, 32, 16);
  --main-bg-color: rgb(250, 240, 220);
  --strong-color: rgb(240, 180, 50);
  --title-color: rgb(30, 130, 180);
}

body
{
  color: var(--main-font-color);
  background: var(--main-bg-color);
  padding: 10px;
}

.title
{
  font-size: 20px;
  color: #fff;
  background: var(--title-color);
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 5px 15px;
}
h2
{
  margin: 0;
  font-size: 15px;
}

input
{
  color: var(--main-font-color);
  box-sizing: border-box;
}
input:disabled,
input.unChecked
{
  opacity: 0.5;
}

/* チェックボックス */
input[type="checkbox"],
input[type="checkbox"] + label
{
  cursor: pointer;
}

button {
  color: var(--main-bg-color);
  background: var(--main-font-color);
  border: solid 1px var(--main-font-color);
  border-radius: 5px;
  cursor: pointer;
}
button:disabled
{
  color: #888;
  cursor: default;
  pointer-events: none;
}
button.unChecked
{
  opacity: 0.5 !important;
}

/* 数値入力 */
.number_input
{
  display: grid;
}
.number_input > input
{
  width: 100%;
  font-size: 40px;
  text-align: center;
  background: #fff;
  border: solid 1px var(--main-font-color);
  border-radius: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.number_input > button
{
  width: 100%;
  user-select: none;
}
.number_input > button.button_up
{
  height: auto;
  border-bottom: none;
  border-left: none;
  border-radius: 0 5px 0 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.number_input > button.button_down
{
  height: auto;
  border-top: none;
  border-left: none;
  border-radius: 0 0 5px 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flex
{
  display: flex;
}

.mt
{
  margin-top: 10px;
}

.ml
{
  margin-left: 30px;
}

/* -------------------------------------------------- */
/* 能力値エリア
/* -------------------------------------------------- */

/* エリア */
.area_status
{
  display: flex;
  flex-wrap: wrap;
}

/* 入力欄 */
.input_status
{
  width: 100px;
  padding: 10px;
  display: flex;
}
.input_status > label
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: solid 1px var(--main-font-color);
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.input_status > .number_input > input
{
  font-size: 50px !important;
  opacity: 1 !important;
}

/* ラベル */
#status_vit.input_status > label
{
  background: rgb(255, 198, 198);
}
#status_agi.input_status > label
{
  background: rgb(255, 255, 198);
}
#status_int.input_status > label
{
  background: rgb(198, 198, 255);
}
#status_mnd.input_status > label
{
  background: rgb(198, 255, 198);
}

/* -------------------------------------------------- */
/* 入力エリア
/* -------------------------------------------------- */

/* テーブル */
td,
th
{
   border: solid 1px var(--main-font-color);
}
th
{
  width: 80px;
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
}

/* ボタン縦並び */
.vert_button
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.vert_button:not(:last-child)
{
  border-right: none;
}
.vert_button button,
.vert_button input
{
  width: calc(100% - 10px);
  height: 50px;
  margin: 5px 0;
}
.vert_button input
{
  text-align: right;
}
.vert_button > button.button_status
{
  color: var(--main-bg-color);
  opacity: 0.5;
}
.vert_button > button:disabled
{
  opacity: 1;
  cursor: default;
}
.vert_button > button.invalid
{
  opacity: 0;
  cursor: default;
}
.number_input > button
{
  opacity: 1;
  cursor: default;
}
[id^="input_"].number_input > button.button_up
{
  border-top-left-radius: 5px;
}
[id^="input_"].number_input > button.button_down
{
  border-bottom-left-radius: 5px;
}

th.inequalitySign
{
  opacity: 0;
}
td.inequalitySign
{
  font-size: 50px;
  text-align: center;
  border: none;
}
td.inequalitySign.unChecked
{
  opacity: 0.5;
}

.button_status
{
  font-size: 20px;
}

.button_vit
{
  color: rgb(255, 198, 198) !important;
}
.button_agi
{
  color: rgb(255, 255, 198) !important;
}
.button_int
{
  color: rgb(198, 198, 255) !important;
}
.button_mnd
{
  color: rgb(198, 255, 198) !important;
}

@media (max-width: 650px) {
  .input_status > .number_input > input
  {
    font-size: 40px !important;
  }

  th
  {
    font-size: 12px;
  }
  td.inequalitySign
  {
    font-size: 20px;
  }
  .vert_button > input
  {
    font-size: 20px;
  }

  th > input[type="checkbox"] + label
  {
    display: block;
  }

  .vert_button button
  {
    height: 30px;
  }

  .button_status
  {
    font-size: 15px;
  }

  .button_copy
  {
    font-size: 20px !important;
  }
}

/* -------------------------------------------------- */
/* プリセット・エリア
/* -------------------------------------------------- */

/* メニューボタン */
.button_preset
{
  color: var(--title-color);
  background: #fff;
  border-color: transparent;
  margin-left: auto;
  align-items: center;
}

/* プリセット・エリア */
.area_preset {
  display: none;
  padding: 10px;
  border: solid 1px var(--main-font-color);
  margin-bottom: 10px;

  background: var(--main-bg-color);
  border-radius: 5px;
  box-sizing: border-box;

  z-index: 1;

  max-height: 0;
  overflow: hidden;
}
.area_preset.display {
  display: inherit;
  max-height: 100% !important;
}

.area_preset button {
  display: inline-flex;
  align-items: center;
  padding: 5px;
}

img.check_icon
{
  width: 20px;
  height: auto;
  padding-right: 10px;
}

/* -------------------------------------------------- */
/* 出力エリア
/* -------------------------------------------------- */

.area_output {
  display: flex;
  flex-direction: column;
}

/* 「コマンドをコピー」ボタン */
.button_copy {
  font-size: 30px;
  width: auto;
  margin-top: 10px;
}

/* 「クリップボードにコピーしました。」 */
.navi_text {
  margin-top: 10px;
  transition: opacity 1.0s;
}

/* 非表示 */
.hidden {
  opacity: 0;
}
